* { margin: 0; padding: 0; box-sizing: border-box; }

ul { list-style: none; }

a { text-decoration: none; cursor: pointer; }

div ul li { background-size: cover; background-position: center center; background-repeat: no-repeat ; }

h1, h2, h3, h4, h5, h6, p, a, div { word-break: keep-all; }